.songs {
  position: relative;
  padding-bottom: 20px;

  h2 {
    font-size: 1.4rem;
    letter-spacing: -1px;
    line-height: 1.8rem;
    color: #1d1d1f;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 1rem 0;
  }

  .songs__controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .control {
      margin-right: 2rem;
      display: flex;
      align-items: center;

      p {
        margin-right: 1.4rem;
      }

      input,
      select {
        border: none;
        border-bottom: 2px solid #1eeaa9;

        &:focus {
          outline: none;
        }
      }

      span {
        padding: 0.6rem;
        transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99),
          box-shadow 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  .song__list {
    width: 100%;

    .list__header {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      h2 {
        font-size: 1.4rem;
        margin-right: 2rem;
      }

      span {
        padding: 0.6rem;
        transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99),
          box-shadow 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
        }
      }
    }

    > div:first-of-type {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;

      .song__inner {
        border-top-left-radius: 4px;
      }

      .song__controls {
        border-top-right-radius: 4px;
      }
    }

    > div:last-of-type {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;

      .song__inner {
        border-bottom-left-radius: 4px;
      }

      .song__controls {
        border-bottom-right-radius: 4px;
      }
    }

    .song__item {
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
      background-color: #1eeaa9;
      display: flex;
      position: relative;
      z-index: 2;

      // animation-name: animateIn;
      // animation-duration: 250ms;
      // animation-delay: calc(var(--animation-order) * 50ms);
      // animation-fill-mode: both;
      // animation-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);

      &.alert {
        background-color: #db162f;

        .song__inner,
        .song__controls {
          border-bottom: 1px solid #db162f;
        }

        .song__controls {
          width: 0px;
        }

        .delete__confirm {
          width: 80px;
        }
      }

      &:hover {
        z-index: 3;

        .song__inner {
          background-color: #fafafa;
          box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        }

        .song__controls:before {
          transform: translateX(-80px);
        }
      }

      .song__inner {
        padding: 0.8rem;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #1eeaa9;
        display: flex;
        align-items: center;
        box-shadow: none;

        .song__title {
          padding-right: 1rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          a,
          p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .song__title {
          width: 25%;
        }

        .song__artist,
        .song__difficulty {
          width: 17.5%;
        }

        .song__genre,
        .song__instrument,
        .song__tools,
        .song__status {
          width: 10%;
          text-align: center;
        }

        .song__difficulty {
          text-align: center;
        }

        .icon.icon__piano:before {
          content: "";
          background-image: url(../../../assets/icons/piano.svg);
          background-size: cover;
          margin: auto;
          display: block;
          height: 16px;
          width: 16px;
        }

        .song__tools {
          i {
            margin: 0 0.4rem;
          }
        }

        p,
        a {
          font-size: 0.8rem;
        }

        a {
          font-weight: 600;
          color: #1d1d1f;
          transition: opacity 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99);
          text-decoration: none;

          &:hover {
            opacity: 0.6;
          }
        }
      }

      .song__controls {
        width: 80px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: all 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99);
        position: relative;
        border-bottom: 1px solid #1eeaa9;

        i {
          color: #fff;
          cursor: pointer;
          transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99);

          &:hover {
            transform: scale(1.1);
          }
        }

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: #fff;
          z-index: 2;
          transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99);
        }
      }

      .delete__confirm {
        width: 0px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: all 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99);
        text-align: center;

        i {
          color: #fff;
          cursor: pointer;
          transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99);

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  @keyframes animateIn {
    0% {
      opacity: 0;
      transform: scale(0.6) translateY(300px);
    }

    100% {
      opacity: 1;
    }
  }
}
