.playlists {
  position: relative;

  h2 {
    font-size: 1.4rem;
    letter-spacing: -1px;
    line-height: 1.8rem;
    color: #1d1d1f;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 1rem 0;
  }
}
